:root{
    --html: rgb(231, 231, 235);  
    --primary: whitesmoke;
    --secondary: rgb(39, 38, 38);
    --btnAlert: rgb(47, 165, 219);
    --btnAlertFont: whitesmoke;
    --span: darkred;
}
.dark {
    --html: black;  
    --primary: rgb(32, 32, 32);
    --secondary: whitesmoke;
    --btnAlert: gold;
    --btnAlertFont: rgb(32, 32, 32);
    --span: rgb(223, 97, 97);
}
html{
    background-color: var(--html);
}
body {
    margin: 12px;    
    display: grid;    
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Kanit', sans-serif;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}
.bodyInt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    padding: 4px 20px;
}

.inbody-inq, .inbody-prop{
    border: solid black 2px;
    padding: 4px 20px;
}
#firstText{
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 0px;
}
.cont-info{
    width: 300;
}
.cont-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
}
#logo{
    width: 50px;
    height: 80px;       
}
#isotipo{
    width: 170px;
    height: 44px;
    margin: 20px;
    margin-top: 24px;
}
.cont-head{
    display: flex;
}
.cont-logo{
    border: 0px solid rgb(129, 128, 128);
    padding: 12px;
}
.cont-data{
    width: 270px;
    margin: 8px;
}
.cont-data p{
    text-align: center;
    height: 12px;
    font-weight: 100;
    margin: 0;
    font-size: 12px;
}
#ad-al{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 4px;
}
.cont-num{
    /* border: solid 1px rgb(145, 143, 143); */
    width: 220px;
    margin-left: 20px;
}
.cont-numero{
    display: flex;    
    height: 28px;
    margin: 0px;
    margin-top: 46px;
    margin-bottom: 24px;
}
#numInput{
    margin: 0px;
    width: 70px;
    margin-left: 8px;
}
#num{
    display: flex;
    margin: 0px;
    width: 80px;
}
#fecha{
    display: flex;
    margin: 0px;
    margin-top: 74px;
}
#date{
    margin: 0px;
    margin-left: 8px;
}
.recibi p{
    margin-top: 12px;
}
.detalle p, .monto{
    margin: 0px;
}
.inputs{
    margin-bottom: 12px;
}
.inquilino{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.inquilino p{
    margin-top: 4px;
    margin-bottom: 4px;
}
.cont-detalle{
    display: flex;
    justify-content: space-between;  
    width: 80%; 
    margin: 0px; 
}
.detalleProp p{
    width: 80%;
    margin-right: 32px;
    margin: 0px;
}
.cuerpo .detalleProp p{
    width: 80%;
    margin: 0px;
}
.cont-detalle-Alq{
    display: flex;
}
.detalle-title{
    margin-bottom: 4px;
}
.detalle,.cuerpo-det{
    width: 80%;
    margin-right: 32px;
    margin: 0px;
}
.monto{
    width: 20%;    
    justify-items: right;
}
.cont-detalle-prop, .cont-detalle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* #montoAlqProp, #montoComision{
    display: block;
    width: 20%;
    text-align: end;
    justify-content: end;
    margin: 0px;
} */
#detalleProp{
    width: 80%;
}
#monto-alq,#cont-montos{
    margin: 0px;
    justify-content: right;
    text-align: end;  
    width: 20%; 
}
.cont-detalle-Comi{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#cont-new-det{
    display: flex;
}
#cont-detalleProp{
    width: 80%;
}
#cont-montosProp{
    width: 20%;
    text-align: end;
    justify-content: end;
}
.montos{
    width: 20%;
}
.montos p{
    display: block;
    text-align: end;
    margin-top: 0px;
}
.cont-totales{
    display: flex;
    justify-content: end;
    margin-top: 24px;
}
#total-label{
    margin: 0px;
    margin-right: 16px;
}
.total-text p{
    justify-items: end;
    width: 80%;
    margin-right: 32px;
}
.cont-firma-total{
    display: flex;
    border-top: solid 1px black;
    /* border-bottom: solid 1px black; */
    margin-top: 20px;
}
.cont-total{
    display: flex;
    width: 50%;
    align-items: center;    
}
.cont-firma{
    width: 50%;
}
.cont-title-liq{
    display: flex;
    justify-content: center;
}
#title-liq{
    justify-content: center;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 18px;
}
#sitoEnProp{
    border-bottom: 1px solid black;
}
#sitoEnProp p{
    margin-bottom: 4px;
}
#imprimir{
    border: 1px solid black;
    margin-bottom: 24px;
    padding: 12px;
}
#btn, #sumitbtn, #btninq, #btnprop, #imp {
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
}
.buttons{
    margin-top: 20px;
}
#obsProp{
    margin-top: 8px;
}
#firma{
    width: 140px;
    display: block;
}
.logo,.inbody-index,.inputs,#comisionSelect,#imp,#mesAlq,#dateInput,#numInput,#pesos,#observacionesInput,#observacionesInput,#locador, #observaciones,#vence,.buttons,.controls,#observacionesInputProp{
    display: none;
}
.bodyInt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    padding: 4px 20px;
    font-weight:lighter;
}
#numProp, #dateProp{
    margin: 0px;
}
#mail{
    visibility: visible;
}
