:root{
    --html: rgb(231, 231, 235);  
    --primary: whitesmoke;
    --secondary: rgb(39, 38, 38);
    --btnAlert: rgb(47, 165, 219);
    --btnAlertFont: whitesmoke;
    --span: darkred;
}
.dark {
    --html: black;  
    --primary: rgb(32, 32, 32);
    --secondary: whitesmoke;
    --btnAlert: gold;
    --btnAlertFont: rgb(32, 32, 32);
    --span: rgb(223, 97, 97);
}
html{
    background-color: var(--html);
}
body {
    margin: 12px;    
    display: grid;    
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Kanit', sans-serif;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}
#firma{
    width: 140px;
}
#imp, #nuevo{
    margin: 20px;
    margin-bottom: 36px;
}
#imprimir{
    border-color: var(--btnAlert);
}
.inbody-index{
    margin-left: auto;
    margin-right: auto;
}
.inbody-inq, .inbody-prop{
    border: solid black 2px;
    padding: 4px 20px;
}
#firstText{
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 0px;
}
.cont-info{
    width: 300;
}
.cont-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
}
#logo{
    width: 50px;
    height: 80px;       
}
#isotipo{
    width: 170px;
    height: 44px;
    margin: 20px;
    margin-top: 24px;
}

.cont-head{
    display: flex;
}
.cont-logo{
    border: 0px solid rgb(129, 128, 128);
    padding: 12px;
}
.cont-data{
    width: 270px;
    margin: 8px;
}
.cont-data p{
    text-align: center;
    height: 12px;
    font-weight: 100;
    margin: 0;
    font-size: 12px;
}
#ad-al{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 4px;
}
.cont-num{
    /* border: solid 1px rgb(145, 143, 143); */
    width: 220px;
    margin-left: 20px;
}
.cont-numero{
    display: flex;    
    height: 28px;
    margin: 0px;
    margin-top: 46px;
    margin-bottom: 24px;
}
#numInput{
    margin: 0px;
    width: 70px;
    margin-left: 8px;
}
#num{
    display: flex;
    margin: 0px;
    width: 80px;
}
#fecha{
    display: flex;
    margin: 0px;
    margin-top: 74px;
}
#date{
    margin: 0px;
    margin-left: 12px;
}
#dateProp{
    margin: 0px;
    margin-left: 12px;
}
.recibi p{
    margin-top: 8px;
}
.detalle p, .monto, .cuerpo-det p, .montos p{
    margin: 0px;
    
}
.inputs{
    margin-bottom: 12px;
}
.inquilino{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.inquilino p{
    margin-top: 4px;
    margin-bottom: 4px;
}
#pesos{
    width: 250px;
}
.cont-detalle{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.cont-detalle-comi{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cont-detalle-prop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}
#cont-detalleProp{
    width: 80%;
}
#cont-montosProp{
    width: 20%;
    text-align: end;
    justify-content: end;
}
.cont-detalle-Alq{
    display: flex;
}
.detalle-title{
    margin-bottom: 4px;
}
.detalle,.cuerpo-det,.detalleProp{
    width: 80%;
    margin-right: 32px;
    margin: 0px;
}
#cont-new-det{
    display: flex;
}
#cont-montos, #monto-alq{
    width: 20%;  
    margin: 0px;  
    text-align: end;
    justify-items: right;
}
#cont-montos {
    width: 20%;
    /* text-align: end;
    margin: 0px;
    width: 20%; */
}
.detalle{
    width: 80%;
}
#monto-alq,#cont-montos{
    margin: 0px;
    justify-content: right;    
}
.montos{
    width: 20%;
    justify-content: right; 
}
#detalleProp p{
    margin: 0px;
}
.montos{    
    text-align: end;
}
.cont-totales{
    display: flex;
    justify-content: end;
    margin-top: 24px;
}
#total-label{
    margin: 0px;
    margin-right: 16px;
}
.total-text p{
    justify-items: end;
    width: 80%;
    margin-right: 32px;
}
.cont-firma-total{
    display: flex;
    border-top: solid 1px black;
    /* border-bottom: solid 1px black; */
    margin-top: 20px;
}
.cont-total{
    display: flex;
    width: 50%;
    align-items: center;    
}
.cont-total p {
    margin: 0px;
}
.cont-firma{
    width: 50%;
    margin: 12px;
}
.cont-firma p{
    margin-top: 4px;
}
.cont-title-liq{
    display: flex;
    justify-content: center;
}
#title-liq{
    justify-content: center;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 18px;
}
#sitoEnProp{
border-bottom: 1px solid black;
}
#imprimir{
    border: 1px solid var(--btnAlert);
    margin-top:24px;
    margin-bottom: 24px;
    padding: 12px;
}
#btn, #sumitbtn, #btninq, #btnprop, #imp, #nuevo, #conEmail, #mail {
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
    margin-top: 8px;
}
#nuevo{
    margin-left: 230px;
    background-color: rgb(28, 42, 121);
}
#obsProp{
    margin-top: 8px;
}
.buttons{
    margin-top: 20px;
}

@media print {
    .logo,.inbody-index,.inputs,#imp,#dateInput,#numInput, #locador, #observaciones,#vence,.buttons,.controls{
        display: none;
    }
}
